{% extends "icms/base.html" %}
{% block content%}
<div class="row">
<div class="col-sm-9">
<div class="table-responsive" >
  <table class="table" style='border:1px solid green'>
    <tbody>
	{% for e in entries_list %}
      		<tr color="green">
        	<td ><a href=/view/{{e.id}}/><h4>{{e}}</h4></a></td>
        	<td class="text-right">{{e.create_date | date:"Y-m-d" }}</td>
      		</tr>
	{% endfor %}
    </tbody>
  </table>


                        <ul class="pager">
                            共有{{entries_list.paginator.count}}条记录 {{ entries_list.number }} / {{entries_list.paginator.num_pages }}页 
			    	{% if entries_list.has_next or entries_list.paginator.num_pages == entries_list.paginator.num_pages%}
                            		<li><a href="/cat/page/1">首页</a></li>
                            	{% endif %} 
				{% if entries_list.has_previous %}
                            		<li><a href="/cat/page/{{ entries_list.previous_page_number }}">上一页</a></li>
                            	{% endif %} 
				{% if entries_list.has_next %}
					<li><a href="/cat/page/{{ entries_list.next_page_number }}">下一页</a></li>
                            		<li><a href="/cat/page/{{ entries_list.paginator.num_pages }} ">末页</a></li>
                            	{% endif %}
                        </ul>


</div>

</div>

<div class="col-sm-3">
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">关于我</h3>
    </div>
    <div class="panel-body">
        这是一个基本的面板
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">标签云</h3>
    </div>
    <div class="panel-body">
       <span class="label label-default">默认标签</span>
<h1><span class="label label-primary">主要标签</span></h1>
<span class="label label-success">成功标签</span>
<span class="label label-warning">警告标签</span>
<h3><span class="label label-info">信息标签</span></h3>
<span class="label label-warning">警告标签</span>
<h4><span class="label label-danger">危险标签</span></h4>
    </div>
</div>



</div>
 </div>

{% endblock%}
